---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h4>{frontmatter.title}</h4>
  <slot />
  <section class="text_small">
    <!--<hr/>
    <p>Publication date: {frontmatter.pubDate.slice(0, 10)}</p>
    <p>Description: <em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>-->
  <!--<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />-->
  </section>
</BaseLayout>

<style>
  section{
    color: var(--ui-grey);
    font-size: small;
    padding-bottom: 265px;
  }

  body{
    img, video {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 20px 0px;
    }
  }
</style>